body{
	font-family: 'Lato', sans-serif;
	margin: 0;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

header{
	text-align: center;
}
img{
	border-radius: 100%;
	width: 17%;
	border: 4px solid #f2f2f2;
}

header .navbar {
	margin-bottom: 0;
}

body {
	background: #2a2a2a;
	padding: 40px 0;
}

.stack {
	margin: 100px 0;
	text-align: center;
}

.stack h2 {
	text-align: center;
	color: #f2f2f2;
	margin-bottom: 35px;
}

.stack ul li {
	display: inline-block;
    margin: 0 15px;
}

.stack h3 {
	text-align: center;
	color: #f2f2f2;
	margin-bottom: 25px;
}

.stack p {
	color: #f2f2f2;
}

.frontend {
	margin-bottom: 100px;
}

.banner__one {
	text-align: center;
}

.banner__one h1 {
	font-size: 45px;
	margin: 15px 0;
	color: #f2f2f2;
	min-height: 50px;
}

.banner__one h4 {
	font-size: 25px;
	margin: 5px 0;
	color: #f2f2f2;
}

.title-bar ul{
	padding-left: 0;
}
.title-bar li{
	padding-right: 10px;
	display: inline-block;
}
.title-bar li i{
	padding-right: 7px;
	color: #f2f2f2;
}
.title-bar a {
	color: #ffffff;
}

a{
	color: #000;
}


h1{
	font-size: 4em;
}

hr{
	border-top: 1px solid #dedede;
}

p {
	font-size: 16px;
}



@media (max-width: 480px) {
	.banner__one img {
		width: 50%;
	}

	ul {
		padding-left: 15px;
	}
}