body{
	font-family: 'Roboto', sans-serif;
}
header{
	text-align: center;
}
img{
	border-radius: 100%;
	width: 150px;
	height: 150px;
}
footer{
	padding: 15px 0;
}
footer ul{
	list-style: none;
	padding: 0;
}
.title-bar ul{
	padding-left: 0;
}
.title-bar li{
	display: inline-block;
	padding: 15px 7px 0;
}
.title-bar li i{
	padding-right: 7px;
}
.main-container{
	background: #fff;
    padding: 20px;
    box-shadow: 0 1px 5px #dcdcdc;
}
a{
	color: #333;
}

h1, h2, h4{
	font-weight: bold;
}

h1{
	font-size: 4em;
}

hr{
	border-top: 1px solid #dedede;
}